main {
    margin: 100px auto;
    width: 90%;
    max-width: 1200px;
}

.user-info {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

input {
    width: calc(100% - 1rem);
    /* 양쪽 패딩 합계 */
    padding: 0.5rem;
    border: 1px solid #444;
    background-color: #333;
    color: var(--text-color);
    border-radius: 4px;
    margin: 5px 0;
}

.button {
    display: inline-block;
    background-color: #ffd700;
    color: #121212;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.order-history {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.order-item:last-child {
    border-bottom: none;
}

.order-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.order-details {
    flex-grow: 1;
}

.load-more {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}